version: '2'
services:
  app:
    build:
      context: .
      args:
        PORT: '80'
        REDIS_URL: 'redis://10.0.0.19:6379/5'
    command: python start_server.py
    ports:
     - '80:80'
     - '8080:8080'
     - '8091:8091'
    volumes:
     - .:/code
