/*
_reset.scss -- SASS/SCSS file for "reset layer" of GUI

This should contain the styling code that "resets" the display characteristics 
of the HTML elements for the Sciris code.

Last update: 2/14/18 (gchadder3)
*/ 

//
// normalize.css-related code
//

// Imports normalize.css package, which aims to normalize display across 
// browsers.  Among other things it does the following:
// * zeroes out margins for the body element (for all browsers)
// * gets rid of ugly focus boxes for buttons in Firefox
// @import '../../../node_modules/normalize.css/normalize.css';

// Remove most spacing between table cells.
// This code was in an earlier version of normalize.css, but was removed.

// table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }

// Remove padding in table cells.
// td,
// th {
//   padding: 0;
// }

//
// Sciris-wide stylings
//

// Set all box-sizings to be the border box, including in any pseudo-elements 
// appended or prepended to an element.
// *, ::before, ::after {
//   box-sizing: border-box;
// }

// Set the default font to "Proxima Nova".
// body {
//   font: 13px/1.4 "Proxima Nova", sans-serif;
// //  font: 13px/1.4 sans-serif;
// }

// // Proxima Nova font definitions.
// // Not generated by Font Squirrel (http://www.fontsquirrel.com) on November 19, 2014

// @font-face {
//   font-family: 'Proxima Nova';
//   src: url('../../assets/fonts/proximanova-bold-webfont.eot');
//   src: url('../../assets/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
//   url('../../assets/fonts/proximanova-bold-webfont.woff2') format('woff2'),
//   url('../../assets/fonts/proximanova-bold-webfont.woff') format('woff'),
//   url('../../assets/fonts/proximanova-bold-webfont.ttf') format('truetype'),
//   url('../../assets/fonts/proximanova-bold-webfont.svg#open_sansbold') format('svg');
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Proxima Nova';
//   src: url('../../assets/fonts/proximanova-light-webfont.eot');
//   src: url('../../assets/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
//   url('../../assets/fonts/proximanova-light-webfont.woff2') format('woff2'),
//   url('../../assets/fonts/proximanova-light-webfont.woff') format('woff'),
//   url('../../assets/fonts/proximanova-light-webfont.ttf') format('truetype'),
//   url('../../assets/fonts/proximanova-light-webfont.svg#open_sansregular') format('svg');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Proxima Nova';
//   src: url('../../assets/fonts/proximanova-regular-webfont.eot');
//   src: url('../../assets/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
//   url('../../assets/fonts/proximanova-regular-webfont.woff2') format('woff2'),
//   url('../../assets/fonts/proximanova-regular-webfont.woff') format('woff'),
//   url('/assets/fonts/proximanova-regular-webfont.ttf') format('truetype'),
//   url('../../assets/fonts/proximanova-regular-webfont.svg#open_sanssemibold') format('svg');
//   font-weight: 600;
//   font-style: normal;
// }


//
// Other component stylings (should be elsewhere but put here for now)
//

// // Set an inset for the content on a site page.
// .SitePage {
//   padding: 22px 30px;
// }

// // Add a space after a page section.
// div.PageSection {
//   margin-bottom: 25px;
// }

// // Format a page section's header.
// .PageSection h2 {
//   font-size: 16px;
//   font-weight: 600;
//   line-height: 1.1;
//   margin-top: 0;
// }

// .ControlsRowLabel {
//   margin-top: 10px;
// }
